.video_card {
    width: 100%;
}

.video_card img {
    width: 100%;
}

.video_title {
    font-weight: 500;
    color: white;
    margin-bottom: 5px;
}

.channel_title {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: gray;
}